.panels-container {
    display: grid;
    grid-template-rows: auto 1fr;
    margin: auto;
    margin-top: 2rem;
}

.create-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
