.wrapper {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}

.container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10rem;
    background-color: white;
    /* box-shadow: 0 0 5rem rgba(0, 0, 0, 1); */
    margin: auto;
    padding: 2rem;
    border-radius: 1rem;
    width: 50rem;
    padding-bottom: 1rem;
}

#title-input {
    outline: none;
    border: none;
    font-size: 2rem;
    width: 100%;
    padding-top: .5rem;
    padding-bottom: 1rem;
}

.close-container {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}

#close-icon {
    width: 1.5rem;
    height: 1.5rem;
    padding: .5rem;
}

.post-container {
    width: 100%;
    /* border-top: 1px solid #eee; */
    padding-top: 1rem;
    /* margin-top: 2rem; */
}

.post {
    float: right;
    background-color: #e7df7b;
    padding: .7rem 1.5rem;
    border-radius: 5rem;
    cursor: pointer;
    transition-duration: .3s;
    border: 2px solid white;
}

.post:hover {
    border: 2px solid #e7df7b;
    background-color: white;
}

.options-container {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    margin-left: 0.5rem;
}

.option {
    outline: none;
    border: none;
    font-size: 1rem;
    width: 100%;
    transition-duration: .3s;
    border-bottom: 1px solid white;

}

.option:focus {
    border-bottom: 1px solid #eee;
}