.wrapper {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}

.container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10rem;
    background-color: white;
    /* box-shadow: 0 0 5rem rgba(0, 0, 0, 1); */
    margin: auto;
    padding: 2rem;
    border-radius: 1rem;
    width: 50rem;
    padding-bottom: 1rem;
}

#title-input {
    outline: none;
    border: none;
    font-size: 1.5rem;
    width: 100%;
    padding-top: .5rem;
    padding-bottom: 1rem;
}

.close-container {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}

#close-icon {
    width: 1.5rem;
    height: 1.5rem;
    padding: .5rem;
}

.post-container {
    width: 100%;
    border-top: 1px solid #eee;
    padding-top: 1rem;
}

.post {
    float: right;
    background-color: #e7df7b;
    padding: .7rem 1.5rem;
    border-radius: 5rem;
    cursor: pointer;
}