nav {
    display: block;
    height: 3vh;
    margin: 3vh;
}

.brand {
    display: flex;
    height: 100%;
    vertical-align: middle;
    float: left;
}

#logo {
    max-height: 100%;
    max-width: 100%;
    height: auto; /* Ensure aspect ratio is maintained */
    width: auto; /* Ensure aspect ratio is maintained */
    display: block; /* Remove extra space below inline images */
}

.profile {
    height: calc(100% + 0.7rem);
    margin-left: 1vw;
    cursor: pointer;
}

#profile-image {
    max-height: 100%;
    max-width: 100%;
    height: auto; /* Ensure aspect ratio is maintained */
    width: auto; /* Ensure aspect ratio is maintained */
    display: block; /* Remove extra space below inline images */
}

.brand-name {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 3vh;
    margin-left: 0.2vw;
    font-weight: bold;
    font-family: 'Inter-bold', sans-serif;
}

.nav-options {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 100%;
    float: right;
}

.nav-option {
    margin-left: 1vw;
    border: 1px solid #eee;
    padding: 0.7rem;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    border-radius: 5rem;
    cursor: pointer;
    transition-duration: .3s;

}

.nav-option:hover {
    background-color: #eee;
}

#create-poll {
    background-color: #e7df7b;
    border: 2px solid white;
    color: #222;
}

#create-poll:hover {
    background-color: white;
    border: 2px solid #e7df7b;
}