.main-container {
    margin: auto;
    width: 35rem;
    margin-bottom: 2rem;
}

.panel-container {
    /* border: 1px solid #eee; */
}

.answer-option {
    margin: 5px;
}

.title-container {
    border-bottom: 1px solid #eee;
    padding: 1.5rem;
    background-color: #e7df7b;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    border: 1px solid #e7df7b;
}

.answers-container {
    padding: 1.5rem;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    padding-bottom: 0.5rem;
}

.footer-container {
    display: flex;
    padding: 1.5rem;
    padding-top: 0;
    padding-bottom: 1rem;
    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
    border: 1px solid #eee;
    border-top: none;
    /* float: right; */
}

.show-results-button {
    /* border: 1px solid #eee; */
    /* padding: 0.25rem; */
    /* border-radius: 5rem; */
    /* padding: 0.5rem 1.5rem; */
    color: #d4d4d4;
    margin-left: auto;
    cursor: pointer;
    transition-duration: .3s;
}

.show-results-button:hover {
    /* color: #777; */
    text-decoration: underline;
}

.responses-container {
    margin-left: 1.5rem;
    color: #d4d4d4;
}
