.filters-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.filters-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border: 1px solid #eee;
    border-radius: 5rem;
}


.filter-item { 
    /* padding-right: 1.8rem; */
    border-right: 1px solid #eee;
    text-align: center;
    padding: 0.7rem 2rem;
    cursor: pointer;
    transition-duration: .3s;
}

.filter-item:hover {
    background-color: #eee;
}

.filter-item-last {
    border: none;
    border-top-right-radius: 5rem;
    border-bottom-right-radius: 5rem;
}

.filter-item-first {
    border-top-left-radius: 5rem;
    border-bottom-left-radius: 5rem;
}

.filter-item-active {
    background-color: #e7df7b;
}

.filter-item-active:hover {
    background-color: #e7df7b;
}

.search-bar-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
}

.search-bar-container {
    display: flex;
    padding: 0.7rem 0rem;
    border-radius: 5rem;
    outline: none;
    border: solid 1px #eee;
    transition-duration: .3s;
    font-size: 100%;
    margin: auto;
    width: 30rem;
    height: 1rem;
}

.search-bar-container:hover {
    border-color: #d4d4d4;
}

.search-bar {
    outline: none;
    border: none;
    padding-right: 1rem;
    width: 100%;
    height: 100%;
    background-color: transparent;
    font-size: 100%;
}

.search-icon-container {
    transform: translateY(-0.25rem);
    height: calc(1rem + 0.7rem);
    margin-left: 0.6rem;
    margin-right: 0.3rem;
    cursor: pointer;
}

.search-icon {
    max-height: 100%;
    max-width: 100%;
    height: auto; /* Ensure aspect ratio is maintained */
    width: auto; /* Ensure aspect ratio is maintained */
    display: block; /* Remove extra space below inline images */
}
